.body-navbar {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    position: relative;
}

nav {
    background-color: #0072ff;
}

#cerrars{
    position: relative;
    margin-left: 20px;
}


pre {
    tab-size: 8;
}

.card-img {
    width: 100px ;
    height: 100px;
    margin-top: 10px;
    border-radius:150px;
}

.card {
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;

}
.card-title {
	text-transform: uppercase;
	color: #E44424;
}

.cardimage{
    position: fixed;
    display: inline-block;
}
.cardbody{
    position: relative;
    width: 50%;
    left: 120px; 
    height: 12rem;
    display: inline-block;

}

